// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

/*Modificación pruebas*/

.top-links {
	background: #000;
}

.top-links a:hover{
	color: white;
}



header, .top-bar {
/* Cambios 6 centenario*/
    /*background: #b23023 !important;*/
    background: #a53c5b !important;
}

.home-page h3.title, .custom-page h3.title{
	border-top: 4px solid #dd3333;
}

a{
	color: #3c3e45;
}

a:hover {
    	color: #e1474d;
}

.button {
    /* Cambios 6 centenario*/
    /*background: #b23023;*/ 
    background: white;
    color: black;
}

.button:hover, .button:focus {
    background-color: #d44348;
}

.jumbo{
	background: #f4f4f5;
}

.home-page .jumbo {
/* Cambios 6 centenario*/
	
	/*background: #a53c5b url(/assets/header_600_responsive-d54642c3ce10057f934ed580ec1ade95c3e2c5f6b2b4e206568c317287c9e125.jpg);*/
    background-repeat: no-repeat;
    padding-bottom: 5.5rem;
    background-size: 22em;
    padding-top: 0.5em;
}

.auth-image {
    /* Cambios 6 centenario*/
   /* background: #000 url(/assets/landings/landing_registro_red-a8f70dfe311d5b043bd7ad983b5ad4401e36587fb5feb074018f7044c1a2e20f.jpg) !important;*/

	 background: #000 url(/assets/landings/landing_registro_600-5dd14a4e814f398c19ad7000e475d7ea7aba21cb84cead99b94959af5588c4e5.jpg) !important;

    background-repeat: no-repeat !important;
	-webkit-background-size: cover !important;
	background-size: cover !important;
}

.lead{
	font-weight: 700;
}

.home-page .background-header {
    display: none;
}

@media print, screen and (min-width: 40em){
	.home-page .jumbo .lead {
	    font-size: 3.75rem;
	    line-height: 3.75rem;
	    /* Cambios 6 centenario*/
	    margin-top: 1em;
    	margin-bottom: 1em;
	}

	.home-page .jumbo  {
	    /* Cambios 6 centenario*/
	    /*background: #e2846b url(/assets/header-08a3fffef37eafc88116344039d1a51c74303746659d056b2d711cf39c18ce76.jpg);*/
	    background: #e2846b url(/assets/header_600_b-29ce91abb1b7f026d0676d6dd49032c531dad0044872fe227c38949347e2cffc.jpg);
	    background-size: cover;
	}

	.subnavigation  {
		background: white;
	}

}

.subfooter {
    background: #000;
    border-top: 0;
    color: #fff;
    margin-top: 1.5rem;
}

.subfooter a {
    color: #fff;
    font-weight: bold;
}


/*Responsive*/
@media only screen and (max-width: 600px) {
	.auth-image {
  		background: #b23023 !important;
    }
}